<section id="menuler" class="container my-5">
  <h2 class="text-center">Menülerimiz</h2>
  <div class="row">
      <div class="col-md-6">
          <div class="card mb-3">
              <img src="https://source.unsplash.com/400x300/?pizza" class="card-img-top" alt="Pizza">
              <div class="card-body">
                  <h5 class="card-title">Lezzetli Pizzalar</h5>
                  <p class="card-text">Mozzarella peyniri, özel sos ve en taze malzemelerle hazırlanan
                      pizzalarımızı deneyin.</p>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card mb-3">
              <img src="https://source.unsplash.com/400x300/?burger" class="card-img-top" alt="Hamburger">
              <div class="card-body">
                  <h5 class="card-title">Efsane Hamburgerler</h5>
                  <p class="card-text">Özel yapım burger köftesi, taze sebzeler ve lezzetli ekmeklerimizle
                      hamburger keyfini yaşayın.</p>
              </div>
          </div>
      </div>
  </div>
</section>
