<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>işlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of categoryList; let i =index">
        <td>{{i+1}}</td>
        <td>{{item.categoryName}}</td>
        <td><button (click)="delete(item.id)" class="btn btn-danger">Sil</button>
          <button type="button" class="btn btn-info" (click)="onSelected(item)" data-bs-toggle="modal" data-bs-target="#editModal">
            Güncelle
          </button></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createModal">
    Yeni Kategori
  </button>

</div>
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <form #createForm="ngForm" (ngSubmit)="create(); createForm.resetForm()">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Yeni Kategori Ekle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Kategori Adı</label>
          <input type="text" name="CategoryName" [(ngModel)]="category.categoryName" required="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
        <button type="button" type="submit" class="btn btn-primary" [disabled]="createForm.invalid" data-bs-dismiss="modal" >Kaydet</button>
      </div>
    </div>
  </form>

  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form #editForm="ngForm" (ngSubmit)="update()">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Kategori Güncelle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     <div class="form-group">
      <label>Kategori Adı</label>
      <input type="text" name="categoryName" [(ngModel)]="editCategory.categoryName" required="" >
     </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
        <button type="button" type="submit" data-bs-dismiss="modal" class="btn btn-primary" [disabled]="editForm.invalid || !editForm.dirty" >Güncelle</button>
      </div>
    </div>
  </form>
  </div>
</div>


